-
	skills = [
	{
	title: "Frontend",
	technologies: [
	{
	name: "HTML5",
	percent: 75
	},
	{
	name: "CSS3",
	percent: 60
	},
	{
	name: "JavaScript & jQuery",
	percent: 25
	}
	]
	},
	{
	title: "Backend",
	technologies: [
	{
	name: "PHP",
	percent: 25
	},
	{
	name: "mySQL",
	percent: 30
	},
	{
	name: "Node.js & npm",
	percent: 5
	},
	{
	name: "Mongo.db",
	percent: 5
	}
	]
	},
	{
	title: "WorkFlow",
	technologies: [
	{
	name: "Git",
	percent: 50
	},
	{
	name: "Gulp",
	percent: 70
	},
	{
	name: "Bower",
	percent: 20
	}
	]
	}
	]
