section.articles
	ul.articles__list
		each post in items
			li.articles__item
				article.post
					header.post__head
						.post__title= post.title
						.post__date= post.date
					.post__content= post.body