aside.sidebar
	//+nav('blog-menu', '', posts, 0)
	nav(class='blog-menu')
		ul(class='blog-menu__list')
			each post,ndx in items
				li(class='blog-menu__item')
					a.blog-menu__link(class=((ndx === 0) ? 'blog-menu__link_active':'') href="#")= post.title
	button.sidemenu-btn.sidemenu-btn_disabled